:root {
    --material-color: magenta;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000;
}

#game-container {
    display: flex;
    flex-direction: column;
    max-width: min-content;
}

#ui {
    font-family: sans-serif;
}

#ui > #materials {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
}

#ui > #materials > button {
    display: inline;
    padding: 6px 10px;
    border: none;
    font-family: inherit;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    background-color: var(--material-color);
    cursor: pointer;
}

#ui > #materials > button.selected {
    box-shadow: #000 0 0 0 2px, red 0 0 0 4px;
}
